

.white-filter
{
	filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(182deg) brightness(105%) contrast(100%);
}

.pink-filter
{
	filter: invert(69%) sepia(39%) saturate(733%) hue-rotate(318deg) brightness(101%) contrast(92%);
}

*
{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	outline: none !important;
	text-decoration: none !important;
}

a
{
	color: white !important;
}

body
{
	min-width: 600px;
	padding: 5% 2%;
}

main
{
	border-radius: 10px;
}

header
{
	background-color: #1d2228;
	height: 70px;
}

header > ul
{
	height: 100%;
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.nav-link
{
	color: #F59A83 !important;
}

.nav-link:hover
{
	color: #968B87 !important;
}

.tab-title, .nav-link
{
	font-weight: 1000;
	font-size: 20px;
	color: #F59A83;
	text-transform: uppercase;
	text-align: center;
}

.tab-pane > ul
{
	margin: 0;
}

.nav-link, .nav-item
{
	text-decoration: none;
	text-align: center;
	margin: 0;
}

.nav-link.active
{
	background-color: #e1e2e2 !important;
}

.result-item
{
	display: flex;
	align-items: center;
	height: 100px;
	border-radius: 10px;
	padding: 15px;
	background-color: white !important;
	max-width: 500px;
	margin: 20px auto;
	cursor: pointer;
	overflow: hidden;
}

.result-item:hover
{
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

.result-item > *
{
	margin: 0 10px;
}

.result-info
{
	overflow: hidden;
}

.result-image
{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;
}

.result-image img
{
	border-radius: 50%;
	width: 80px;
	height: 80px;
    object-fit: cover;
}

.result-name
{
    font-size: 20px;
    color: #F59A83;
    text-transform: uppercase;
    font-weight: 800;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.result-author
{
	font-size: 10px;
	color: #968B87;
	text-transform: uppercase;
	font-weight: 800;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.recipe
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recipe > *
{
	margin: 20px 10px;
}

.recipe-image
{
	height: 300px;
	width: 100%;
	margin: 0;
    position: relative;
}

.recipe-image img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recipe-image::before, .result-image::before
{
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F59A83;
	opacity: 0.4;
}

.result-image::before
{
	border-radius: 50%;
	opacity: 0.6;
}

.recipe-name
{
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 20px;
    position: relative;
    transform: translateY(-50%);
    margin: 0 20px;
    line-height: 50px;
}

.recipe-name span
{
    background-color: #F59A83;
    box-decoration-break: clone;
    padding: 5px 20px;
	border-radius: 10px;
}

.recipe-servings, .recipe-button
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.servings-buttons
{
	margin: 0 10px;
	display: flex;
}

.servings-button
{
	width: 20px;
	height: 20px;
	margin: 0 5px;
	border-radius: 50%;
}

.recipe-servings > img, .recipe-button img
{
	width: 40px;
	height: 40px;
	margin: 0 15px;
}

.recipe-like
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F59A83;
}

.hidden
{
	display: none;
}

.recipe-like img
{
	width: 60%;
	height: 60%;
	filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(182deg) brightness(105%) contrast(100%);
}

.recipe-button
{
	border-radius: 1000px;
	background-color: #F59A83;
	padding: 10px 15px;
}

.recipe-button span
{
	color: white;
	font-weight: 800;
	font-size: 16px;
	padding: 0 10px;
}

.recipe-button img
{
	filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(182deg) brightness(105%) contrast(100%);
}

.recipe-controls
{
	display: flex;
	align-items: center;
	padding: 50px;
	width: 100%;
	max-width: 600px;
	justify-content: space-between;
}

.recipe-servings img
{
	filter: invert(69%) sepia(39%) saturate(733%) hue-rotate(318deg) brightness(101%) contrast(92%);
}

.recipe-ingredients
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ingredients-list
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: center;*/
}

.ingredient-item
{
	margin: 20px 50px;
}

.ingredient-item img
{
	width: 20px;
	height: 20px;
	margin: 0 10px;
	filter: invert(69%) sepia(39%) saturate(733%) hue-rotate(318deg) brightness(101%) contrast(92%);
}

.recipe-titles
{
	font-weight: 1000;
	font-size: 20px;
	color: #F59A83 !important;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.tab-content
{
	background-color: #e1e2e2;
	display: flex;
	position: relative;
	top: -1px;
}

.nav-item
{
	width: 50%;
}


.nav-icon
{
	box-sizing: content-box;
	width: 35px;
	height: 35px;
	margin: 0 15px;
	padding: 10px 0;
	position: relative;
}

.hidden-list
{
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1000;
	right: 0;
	top: 50px;
	border-radius: 10px;
	width: 400px;
	overflow: hidden;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.list
{
	padding: 0 10px;
}

.nav-icons
{
	display: flex;
}

.nav-icon:hover .white-filter
{
	filter: invert(69%) sepia(39%) saturate(733%) hue-rotate(318deg) brightness(101%) contrast(92%);
}

.nav-icon:hover .hidden-list
{
	display: block;
}

.nav-icon .tab-title
{
	display: block;
	background-color: #e1e2e2;
	margin: 0;
}


.searchbar
{
	position: relative;
	height: 50px;
	background-color: white;
	border-radius: 30px;
	padding: 10px;
}

.likes-icon, .search-icon, .list-icon
{
	cursor: pointer;
}

.search-input
{
	color: #968B87;
	font-weight: 600;
	border: 0;
	outline: 0;
	width: 30px;
	line-height: 30px;
	transition: width 0.4s linear;
	padding: 0 10px;
}

.searchbar:hover > .search-input
{
	padding-right: 52px;
	width: 350px;
	transition: width 0.4s linear;
}

.search-icon
{
	background-color: #F59A83;
	position: absolute;
	top: -1px;
	right: -1px;
	height: 52px;
	width: 52px;
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.search-icon img
{
	width: 60%;
	height: 60%;
}

.tab-title
{
	display: none;
	padding: 10px;
	text-align: center;
}

.tab-pane
{
	width: 100%;
	padding: 0;
}

.empty-msg
{
    color: #968B87;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin: 20px 10px;
}

.recipe-text
{
	font-size: 18px;
	color: #968B87;
	text-transform: uppercase;
	font-weight: 800;
}

.recipe-msg
{
	color: #968B87;
	font-weight: 600;
	margin: 10px;
}

.recipe-directions
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	text-align: center;
}

.shadow-pointer:hover
{
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
	cursor: pointer;
}

img
{
	vertical-align: unset;
}

.list-item
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 10px;
	color: #968B87;
	height: 70px;
	border-radius: 10px;
}

.list-item input
{
	width: 100px;
}

.item-name
{
	margin: 0 20px;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete-icon
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.delete-icon img
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.item-count
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-count > *
{
  margin: 0 5px;
}

@media only screen and (max-width: 600px)
{
	body
	{
		padding: 0;
	}
	main
	{
		border-radius: 0;
	}
}

@media only screen and (min-width: 1000px)
{
	.tab-content > .tab-pane, .tab-title
	{
		display: block;
	}

	.nav-tabs
	{
		display: none;
	}

	.navbar > ul
	{
		justify-content: center;
	}

	.result-item
	{
		width: 300px;
		margin: 20px auto;
	}

	#recipe
	{
		width: 66.66%;
	}
	#results
	{
		width: 33.33%;
	}
}



.loading
{
	width:160px;
	height:160px;
	border-radius: 50%;
	border: 15px solid white;
	border-top-color:rgba(0,0,0,0.2);
	animation: loading 1.2s linear infinite;
}

@keyframes loading
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}